{% extends "base.html" %}

{% block title %}Liste des événements{% endblock %}

{% block content %}
<h2 class="subtitle">Liste des événements</h2>
<ul>
    {% if events|length > 0 %}
        {% for event in events %}
        <li class="box">
            <h3 class="title is-4">{{ event.title }}</h3>
            <p><strong>Date :</strong> {{ event.date }}</p>
            <p><strong>Description :</strong> {{ event.description }}</p>
        </li>
        {% endfor %}
    {% else %}
        <li class="notification is-warning">Aucun événement trouvé</li>
    {% endif %}
</ul>

<div class="buttons">
    <a class="button is-primary" href="/add_event">Ajouter un événement</a>
</div>
{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}
