{% macro calculate_flex_basis(content_count, loop_index, max_horizontal) -%}
    {% set remaining_count = content_count - loop_index + 1 %}
    {% set flex_basis = 0 %}

    {# MAX 3 #}
    {% if max_horizontal == 3 %}

        {% if remaining_count >= 3 %}
            {% set flex_basis = 31 %}

        {% elif remaining_count == 2 or (remaining_count == 1 and loop_index % 3 != 0) %}
            {% set flex_basis = 49 %}

        {% else %}
            {% set flex_basis = 98 %}

        {% endif %}

    {# MAX 2 #}
   {% elif max_horizontal == 2 %}
        {% if remaining_count >= 2 %}
            {% set flex_basis = 48 %}
        {% elif remaining_count == 1 %}
            {% set flex_basis = 98 %}
        {% endif %}


    {# MAX 1 #}
   {% else %}
        {% set flex_basis = 100 %}

   {% endif %}

{{ flex_basis  }}
{%- endmacro calculate_flex_basis %}
