{# PANEL #}
<div class="card-content">
  <div class="content">
    <header class="card-header">
      <p class="card-header-title has-text-white is-size-4 has-text-centered">Panel</p>
    </header>
      {# Page builder widget #}
      <textarea class="textarea" name="chatbot_content" id="chatbot_content" cols="35" rows="21"></textarea>
      <br>
      <button class="button is-warning is-fullwidth" type="submit" value="Chatbot">
        {{ app_logo::dark() }}
      </button>
      <hr class="hr-bulma">
    </div>
</div>
