<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Event Manager{% endblock %}</title>
        <!-- CSS -->
        <link rel="stylesheet" href="/resources/css/app.css">
        <style>

        </style>
    </head>

    <body>
        <!-- Barre de navigation -->
        {{ html_navbar | safe }}

        <br>
        <br>
        <br>
        <!-- Debug -->
        <div id="debug" >
            <pre class="html-content" id="debug_context" style="">
                {{ debug_tera_context }}
            </pre>
        </div>

        <!--SECTIONS-->
        {{ html_section | safe }}

        <!-- FOOTER -->
        {{ html_footer | safe }}

        <!--SCRIPTS-->
        <script type="module" src="/resources/js/app.js"></script>

        <!-- BLOCK SCRIPT       -->
        {% block script %}{% endblock %}

    </body>
</html>
