{% import "template/tera/modals/modal_tera.html"    as modal %}
{% import "template/tera/debug/debug_tera.html"     as debug %}
{% import "template/tera/tooltip/tooltip_tera.html" as tooltip %}
{% import "template/tera/icons/icons_svg_tera.html" as icon_svg %}
{% import "template/tera/flex/flex_tera.html"       as flex %}

debug_modal
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Event Manager{% endblock %}</title>
        <!-- CSS -->
        <link rel="stylesheet" href="/resources/css/app.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    </head>

    <body>


        <!-- Barre de navigation -->
        {% if page_builder.navbar.meta_data.file_name == "navbar_tera.html" %}
            {% include "template/tera/navbar_tera.html" %}
        {% else %}
            <!-- Intégrer une Navbar spécifique en changeant le file_name dans la struct NavBarMetadata via la fonction de création PageBuilder::new() -->
            {% block navbar_file_name %}{% endblock %}
        {% endif %}



        <!-- Section avec contenu       -->
        {% if page_builder.section.meta_data.file_name  == "section_tera.html" %}
            {% include "template/tera/section_tera.html" %}
        {% else %}
            <!-- Intégrer une Section spécifique en changeant le file_name dans la struct  SectionMetaData via la fonction de création PageBuilder::new() -->
            {% block section_file_name %}{% endblock %}
        {% endif %}


        <!--SCRIPTS-->
        <script type="module" src="/resources/js/app.js"></script>

        <!-- BLOCK SCRIPT       -->
        {% block script %}{% endblock %}


        <!-- Debug -->
        {{ debug_template_engine | safe }}
    </body>
</html>
