{% import "template/tera/modals/modal_tera.html"    as modal    %}
{% import "template/tera/debug/debug_tera.html"     as debug    %}
{% import "template/tera/tooltip/tooltip_tera.html" as tooltip  %}
{% import "template/tera/icons/icons_svg_tera.html" as icon_svg %}
{% import "template/tera/icons/icons_img_tera.html" as icon_img %}
{% import "template/tera/icons/app_logo_tera.html"  as app_logo %}
{% import "template/tera/flex/flex_tera.html"       as flex     %}
{% import "template/tera/general_macro_tera.html"   as general  %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <title>{% block title %}Web Desktop{% endblock %}</title>
      <link href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css" rel="stylesheet">
      <link href="/resources/css/app.css" rel="stylesheet">

  </head>

  <body>
    
    {##################################### SHORTCUT MENU #####################################}
    <div class="shortcut_menu" style="display: none;">
      
          {% if page_builder.navbar.shortcut_menu is defined  %}
              {% for route_info in page_builder.navbar.shortcut_menu %}
                <a class="button is-default is-small" 
                    href="{{ route_info.uri }}" 
                    onclick="window.open(this.href, 'new_window', 'width=800,height=600'); return false;">
                    <strong>{{ route_info.name | safe }}</strong>
                </a>
              {% endfor %}
          {% endif %}
      </div>


      {##################################### DESKTOP #####################################}
      <div class="desktop">
      
          {# Desktop ICONES #}
          <div class="desktop_icons">
            {% if page_builder.section.file_name == "section_desktop_tera.html" %}
              {# SECTIONS DESKTOP #}
              {% include "template/tera/section_desktop_tera.html" %}

            {% else %}
              {% block section_file_name %}{% endblock %}
            {% endif %}
          </div>



          {# MENU #}
          {% include "template/tera/navbar_desktop_tera.html" %}


      </div>

      {#################################### SCRIPTS #####################################}
      <script type="module" src="/resources/js/app.js"></script>
    
  </body>
</html>
