<div class="taskbar">
    {# MENU START - BUTTON START #}
    <div class="start" onclick="window.desktop_controls.toggleStartMenu()">
        {{ general::add_space(number= 16) }} {{ app_logo::primary() }} {{ general::add_space(number= 16) }}
    </div>
    {# MENU START - START MENU #}
    <div id="startMenu" class="start_menu">
        {% if page_builder.navbar.drop_down_menu is defined and page_builder.navbar.drop_down_menu %}
            {% for route_info in page_builder.navbar.drop_down_menu %}
            <div class="menu-item">
                <a  href="{{ route_info.uri }}">
                    {{ route_info.name }}
                </a>
            </div>
            {% endfor %}
        {% endif %}

        
    </div>

    {# ELEMENT MENUS - MINIMIZE APP #}
    <div class="taskbar_items" id="taskbarItems"></div>

    {#  MENU END - SHORTCUT MENU#}
      <div class="endMenu" style="display: none;">
        {% if page_builder.navbar.shortcut_menu is defined and page_builder.navbar.shortcut_menu %}
            {% for route_info in page_builder.navbar.shortcut_menu %}
                <div class="menu-item">
                    <a href="{{ route_info.uri }}" class="navbar-item">
                        <strong>{{ route_info.name | safe }}</strong>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
      </div>
    <div id="clock"></div>

  </div>

