<nav class="navbar is-primary has-background-primary-dark" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item navbar-title-logo" href="/">
                <span>Rust</span> {{ app_logo::primary() }} <span>Framework</span>
            </a>

            <!-- BLOCK TITLE_SECTION       -->
            {% if page_builder.navbar.page_title != "" %}
                <a class="navbar-item has-background-white has-text-primary-dark" id="title_navbar_section">
                    <strong class="has-text-weight-semibold">{{ page_builder.navbar.page_title }}</strong>
                </a>
            {% endif %}

            <!-- BURGER       -->
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navBarCustom">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <!-- BLOCK NAV LEFT AND RIGHT -->
        <div id="navBarCustom" class="navbar-menu">
            <div class="navbar-end">
                {% if page_builder.navbar.shortcut_menu is defined and page_builder.navbar.shortcut_menu %}

                    {% for route_info in page_builder.navbar.shortcut_menu %}
                        <a href="{{ route_info.uri }}" class="navbar-item">
                            <strong>{{ route_info.name | safe }}</strong>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="navbar-item navbar-end">
                <!-- Dropdown MENU -->
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span style="font-weight: bold" class="has-text-primary-dark">John Doe</span>
                            <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% if page_builder.navbar.drop_down_menu is defined and page_builder.navbar.drop_down_menu %}
                                {% for route_info in page_builder.navbar.drop_down_menu %}
                                    <a href="{{ route_info.uri }}" class="dropdown-item">
                                        {{ route_info.name }}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</nav>