<div class="taskbar">
    {# MENU START - BUTTON START #}
    <div class="desktop_menu" style="min-width: 170px" onclick="window.desktop_controls.toggle_menu('desktop_menu')">

            {{ app_logo::primary() }}

        {{ general::add_space(number= 5) }} 


        <label class="label has-text-success has-text-centered"> 
            {{page_builder.navbar.nav_title}}
        </label> 
    </div>
    
    {# MENU START - START MENU #}
    <div id="desktop_menu" class="dropdown_menu">
        {% if page_builder.navbar.drop_down_menu is defined and page_builder.navbar.drop_down_menu %}
            {% for route_info in page_builder.navbar.drop_down_menu %}
            <div class="menu-item">
                <a  href="{{ route_info.uri }}">
                    {{ route_info.name }}
                </a>
            </div>
            {% endfor %}
        {% endif %}
    </div>

    {# ELEMENT MENUS - MINIMIZE APP #}
    <div class="taskbar_items" id="taskbarItems"></div>




    {# MENU END - BUTTON END #}
     <div class="taskbar_items">
        <div class="desktop_menu" style="right:1%; position:absolute;" onclick="window.desktop_controls.toggle_menu('desktop_end_menu')">
            {{ general::add_space(number= 1) }}

            {{ icon_svg::get(type="shortcut_menu", color="#00d1b2", size="30") }} 
            {{ general::add_space(number= 5) }}

            <div class="desktop_clock"></div> &nbsp;

            {{ general::add_space(number= 5) }}


        </div>
        
        {# MENU END - END MENU #}
        <div id="desktop_end_menu" class="dropdown_menu" style="right:1%;left:85%; position:absolute">
            {% if page_builder.navbar.shortcut_menu is defined and page_builder.navbar.shortcut_menu %}
                {% for route_info in page_builder.navbar.shortcut_menu %}
                    <div class="menu-item">
                        <a href="{{ route_info.uri }}" class="navbar-item" target="_blank"  onclick="window.open(this.href, 'new_window', 'width=800,height=600'); return false;">
                            <strong>{{ route_info.name | safe }}</strong>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

     </div>

  </div>

