<section class="section mt-5">
    <!--  TITRE DE LA PAGE  -->
    {% if page_builder.section.title != "" %}
        <div class="has-background-primary p-4 mb-5 ">
            <h1 class="title is-3  has-text-white has-text-centered">{{ page_builder.section.title }}</h1>
        </div>
    {% endif %}

    <!-- TYPES DE CONTENTS A AFFICHER -->
    {% for contents in page_builder.section.contents %}

        <!-- INIT : Calculate flex-basis for .box class -->
        <div class="is-flex is-flex-wrap-wrap is-justify-content-space-between">
            <!-- TYPES D'AFFICHAGES : table, liste, pdf, Json, Html, css, excel, ... -->
            {% for content in contents %}
                <!-- INIT flex_basis -->
                {% set flex_basis = 
                    flex::calculate_flex_basis(
                        content_count           = page_builder.display.content_count, 
                        loop_index              = loop.index, 
                        max_element_horizontal  = page_builder.display.max_element_horizontal, 
                        space_between           = page_builder.display.space_between
                    ) 
                %}

                <!-- TABLES DISPONIBLES -->
                {% if content.Table is defined %}
                    {% include "template/tera/tables/table_tera.html" %}

                <!-- LISTE DISPONIBLES -->
                {% elif content.List is defined %}
                    {% include "template/tera/listes/list_tera.html" %}

                <!-- FORM DISPONIBLES -->
                {% elif content.Form is defined %}
                    {% include "template/tera/forms/form_tera.html" %}

                <!-- EXEMPLE AUTRE TYPE DE format à afficher -->
                {% elif content.OtherType is defined %}
                    <!-- Ajoutez ici le traitement pour OtherType -->

                {% endif %}

            {% endfor %}
        </div>
    {% endfor %}
</section>
