<section class="section">
        <!-- TYPES DE CONTENU A AFFICHER -->
        {% for contents in page_builder.section.data.contents %}

            <!-- TYPES D AFFICHAGES : table, Json, Html, ... -->
            {% for content in contents %}


                <!--TABLES DISPONIBLES -->
                {% if content.Table is defined %}
                    {% include "template/tera/tables/table_tera.html" %}

                <!-- LISTE DISPONIBLES -->
                {% elif content.List is defined %}
                    {% include "template/tera/listes/list_tera.html" %}

                <!-- EXEMPLE AUTRE TYPE DE format à afficher -->
                {% elif content.OtherType is defined %}
                    <!-- Ajoutez ici le traitement pour OtherType -->

                {% endif %}



            {% endfor %}
        {% endfor %}
</section>