/* Import de bulma */
@import url('./packages/bulma.min.css');
/* Fixer la navbar en haut de la page */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Ajouter un peu de marge en haut pour le contenu pour éviter que ça soit caché par la navbar */
.section {
    margin-top: 4rem;
}
