/* Import de bulma */
@import url('packages/bulma.min.css');


@import url('desktop_template.css');
@import url('general.css');



/*  SHORTCUT MENU */
@media all and (max-width: 480px) {

    html::-webkit-scrollbar, body::-webkit-scrollbar {
      display: none !important;              /* Chrome, Safari, Opera et WebViews basés sur WebKit */
    }
    body * {
      display: none !important;
    }
    .shortcut_menu,
    .shortcut_menu * {
      display: block !important;
    }
  }
  
.shortcut_element{
   margin-right: 8px;
   height: 50px;
   width: 24px; height: 24px;
   font-size: medium;
}



/* DESKTOP WIDGET */
.desktop_widget {
  width: 25vw;
  min-width: 300px;
  max-width: 400px;
  position: fixed; 
  top: 47%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 4px 0 0 4px;
  color: #fff;
  z-index: 10;         
  box-sizing: border-box;
  height: 90vh;           /* Hauteur fixe pour permettre le débordement */
  overflow-y: scroll;     /* Barre de défilement verticale */
}
.hr-bulma {
  border: none;
  height: 2px;
  background: linear-gradient(to right, transparent, rgba(0,209,178,0.6), transparent) !important;
    margin: 1.5rem 0;
}
