/* Import de bulma */
@import url('packages/old.bulma.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
/* Fixer la navbar en haut de la page */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/*.box{*/
/*    max-height: 90vh;*/
/*    height: 90vh;*/
/*    overflow: scroll;*/
/*}*/


/*NAVBAR TITLE :*/
/* Police et style global */

.navbar-title-logo span {
    font-family: 'Poppins', sans-serif; /* Police élégante */
    font-weight: 700; /* Texte gras */
    letter-spacing: 1.2px; /* Espacement des lettres pour un style moderne */
    text-transform: uppercase; /* Majuscules pour un effet de logo */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Ombre légère pour profondeur */
}

.navbar-title-logo span:first-of-type {
    font-size: 2em; /* Taille plus grande pour mettre en avant */
    color: #00d1b2; /* Couleur primaire inspirée de Bulma */
    position: relative;
    top: -0.3em; /* Décalé légèrement vers le haut */
}

.navbar-title-logo span:last-of-type {
    font-size: 1.2em; /* Taille plus petite pour différencier */
    color: #00d1b2; /* Couleur primaire inspirée de Bulma */
    opacity: 0.95; /* Légère transparence */
}

/* Optionnel : style sur l'élément SVG pour s'intégrer visuellement */
.navbar-title-logo svg {
    margin: 0 0.5em;
    vertical-align: middle; /* Alignement avec le texte */
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3)); /* Ombre stylée pour le logo */
}


/*SECTION*/

/* Ajouter un peu de marge en haut pour le contenu pour éviter que ça soit caché par la navbar */
.section {
    z-index: 1;
}

.list-container, .table-container{
    /*border: 1px black solid; !* TODO : TEST *!*/
}


/*MODAL*/
.modal_tera {
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.modal_tera.fixed {
    position: fixed;
}

.modal_tera.absolute {
    position: absolute;
}

.custom-modal-width {
    width: 80%; /* Largeur personnalisée */
    max-width: 1200px; /* Largeur maximale */
    height: 90vh; /* Hauteur personnalisée */
}

.app_shadow_1{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.app_shadow_2{
    box-shadow:
            rgba(10, 10, 10, 0.25) 0 10px 20px 0, /* Ombre principale douce */
            rgba(10, 10, 10, 0.15) 0 6px  6px  0 /* Ombre secondaire légère */
    ;
}


/*DEBUG*/
.debug_html_template {
    font-family: "Courier New", Courier, monospace;
    line-height: 1.4;
    max-width: 1000px;
    overflow-x: auto;
    margin: 20px auto;
    padding: 15px;
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.debug_html_key_value {
    margin-bottom: 10px;
}

.debug_html_key_value strong {
    color: #ff6347; /* Couleur des clés */
    font-weight: bold;
    display: inline-block;
    width: 120px;
}

.debug_html_code {
    background-color: #282c34;
    color: #61dafb;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 10px;
}

.debug_html_tag {
    color: #d19a66; /* Couleur des balises HTML */
}

.debug_html_template hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.debug_html_element {
    color: #e06c75; /* Couleur des noms de balises */
}

.debug_html_attr {
    color: #61dafb; /* Couleur des noms d'attributs */
}

.debug_attr_value {
    color: #98c379; /* Couleur des valeurs d'attributs */
}

.debug_html_equal {
    color: #56b6c2; /* Couleur du signe '=' */
}



/* Ajustement de l'affichage global JSON */
.debug_json {
    background-color: #282c34;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Gestion des clés et valeurs avec indentation */
.debug_json_key_value {
    display: flex; /* Clés et valeurs sur la même ligne */
    align-items: center;
    margin-left: 20px; /* Indentation contrôlée */
    color: #c79200;
}

/* Clés JSON */
.debug_json_key {
    color: #61afef;
    font-weight: bold;
    margin-right: 5px; /* Espacement entre clé et valeur */
}

/* Autres styles pour les valeurs */
.debug_json_string {
    color: #98c379;
    font-style: italic;
}

.debug_json_number {
    color: #d19a66;
}

.debug_json_boolean {
    color: #e06c75;
    font-weight: bold;
}

.debug_json_null {
    color: #abb2bf;
    font-style: italic;
}

/* Objet et tableau avec indentation */
.debug_json_object, .debug_json_array {
    padding-left: 20px; /* Indentation visuelle */
    margin-bottom: 5px;
    color: #c79200;
}



/*DEBUG ALL*/
.debug_value {
    max-height: 200px; /* Limite initiale */
    overflow: hidden;
    cursor: pointer;
    transition: max-height 0.3s ease;
}

.debug_value.expanded {
    max-height: none; /* Expande complètement */
}

#debug_context {
    box-shadow:
        rgba(10, 10, 10, 0.25) 0 10px 20px 0, /* Ombre principale douce */
        rgba(10, 10, 10, 0.15) 0 6px  6px  0 /* Ombre secondaire légère */
    ;
    margin-top: 50px;
}




/* Style de base pour le tooltip */
.has-tooltip {
    position: relative;
    cursor: pointer; /* Icône interactif */
    display: inline-block;
}

/* Le contenu du tooltip */
.tooltip-content {
    position: absolute;
    background: rgba(0, 0, 0, 0.85); /* Fond semi-transparent */
    color: #fff;
    padding: 0.75em 1em; /* Plus de padding pour un effet "aéré" */
    border-radius: 8px; /* Coins arrondis modernes */
    font-size: 0.9em; /* Taille de police légèrement augmentée */
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombre plus marquée */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    white-space: normal;
    width: 250px; /* Largeur maximale augmentée */
    transform: translateY(-10px); /* Animation : déplacement vers le haut */
}

/* Petite flèche sous le tooltip */
.tooltip-content::after {
    content: '';
    position: absolute;
    top: -4%; /* Positionné en bas de la bulle */
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px; /* Taille de la flèche */
    border-style: solid;
    border-color: rgba(0, 0, 0, 0) transparent transparent transparent; /* Coordonnée avec le fond */
}

/* Afficher le tooltip */
.has-tooltip:hover .tooltip-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Animation : revenir à sa place initiale */
}

/*FONT*/
.label-size {
    font-size: 13px;
    word-break: break-word; /* Assure une cassure forcée si nécessaire */
    hyphens: auto; /* Ajoute des tirets pour les césures */
    white-space: normal; /* Permet le retour à la ligne */
    overflow-wrap: break-word; /* Compatible avec plus de navigateurs */
}


 /* Placeholder   */
.file-input {
    display: none; /* Cache l'élément brut */
}
  
.select-placeholder, .file-name {
  color: #363636; /* Couleur du texte par défaut */
  font-style: italic; /* Style italique */
}

.file-name:hover{
    border: 2px solid #363636;
}
::placeholder {
    font-weight: 600; /* Texte en gras */
    font-size: 18px;
    color: #363636; /* Couleur du texte de substitution */
    font-style: italic; /* Style italique */
}
  