html, body {
  overflow: hidden !important;
  -ms-overflow-style: none !important;  /* IE et Edge */
  scrollbar-width: none !important;     /* Firefox */
}

body {
  height: 100vh;
  background-color: #1e1e2f;
  color: white;
  font-family: 'Arial', sans-serif;
}

body.theme_light{
  background-color: white;
}

.desktop {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

.taskbar {
  z-index: 1000;
  background-color: #333;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}
.taskbar .desktop_menu {
  display: flex;
  align-items: center;
  height: 40px; /* Conserve la taille de la barre */
  overflow: hidden;
}
.taskbar .desktop_menu:hover {
  background-color: #555;
}
.taskbar_items {
  display: flex;
  align-items: center;
  gap: 10px;
}
.taskbar_item.active {
  background-color: #555;
  border: 1px solid #fff;
}

.blur-effect {
  animation: blurAnimation 1s ease-in-out;
}

@keyframes blurAnimation {
  0% {
    box-shadow: 0px 0px 10px rgba(150,240,220,1);
  }
  100% {
    box-shadow: transparent;
  }
}



.taskbar .start svg {
  max-height: 100%;
  width: auto;
}


.desktop_icons {
  position: relative;
  width: 100%;
  height: calc(100% - 40px); 
  padding: 20px;
}


.desktop_icons .icon {
  position: fixed;
  display: block;
  cursor: move; 
}



.desktop_icons .icon img {
  max-width: 50px;
}

.desktop_icons .file_title {
  pointer-events: none;
  user-select: none;
  text-align: center;
}


.desktop-content {
  display: none;
  z-index: 100;
}

.modal {
  z-index: 100;
  background-color: #444;
  color: white;
  border: 6px solid #555555;
  border-bottom: 20px solid #555555;;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  resize: both;
  overflow: scroll;
}


.modal_header {
  background-color: #555555;
  padding: 5px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_header .modal_header_actions {
  display: flex;
  gap: 5px;
}
.modal_content {
  z-index:  100000;
  padding: 10px;
}
.close-btn, .minimize-btn, .fullscreen-btn {
  background-color: #555;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #ff5c5c;
}
.minimize-btn:hover {
  background-color: #ffa500;
}
.fullscreen-btn:hover {
  background-color: #32cd32;
}

.dropdown_menu {
  position: absolute;
  bottom: 40px;
  left: 10px;
  background-color: #333;
  border: 1px solid #555;
  padding: 10px;
  display: none;
  flex-direction: column;
  gap: 10px;
}

.dropdown_menu .menu-item, .dropdown_menu .menu-item a {
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
.dropdown_menu .menu-item:hover {
  background-color: #444;
}


.modal_header div {
  color: white;
  margin-left: auto;
}


