/* Fixer la navbar en haut de la page */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


/*NAVBAR TITLE :*/

.navbar-title-logo span {
    font-family: 'Poppins', sans-serif; 
    font-weight: 700; 
    letter-spacing: 1.2px;
    text-transform: uppercase; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}

.navbar-title-logo span:first-of-type {
    font-size: 2em;
    color: #00d1b2; 
    position: relative;
    top: -0.3em;
}

.navbar-title-logo span:last-of-type {
    font-size: 1.2em; 
    color: #00d1b2; 
    opacity: 0.95; 
}

.navbar-title-logo svg {
    margin: 0 0.5em;
    vertical-align: middle; 
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
}


/*SECTION*/
.section {
    z-index: 1;
}