<div class="box is-centered app_shadow_2" id="{{ content.Form.id }}">
    {% if content.Form.fields is defined %}
        {{ debug::modal(id_element="formDebug", modal_title="Debug Form", modal_content=content.Form.fields) }}
    {% endif %}
    <form action="{{ content.Form.action }}" method="{{ content.Form.method }}">
        {% for field in content.Form.fields %}
        <div class="field mb-5 ">
            <label class="label" for="{{ field.id }}">{{ field.label }}</label>
            <div class="control">
                {% if field.field_type.Text is defined %}
                    <input
                            class="input is-fullwidth"
                            type="text"
                            id="{{ field.id }}"
                            name="{{ field.name }}"
                            placeholder="{{ field.placeholder | default(value='') }}"
                            {% if field.required %} required {% endif %}
                    />
                {% elif field.field_type.Number is defined %}
                    <input
                            class="input is-fullwidth"
                            type="number"
                            id="{{ field.id }}"
                            name="{{ field.name }}"
                            placeholder="{{ field.placeholder | default(value='') }}"
                            {% if field.required %} required {% endif %}
                    />
                {% elif field.field_type.Date is defined %}
                    <input
                            class="input is-fullwidth"
                            type="date"
                            id="{{ field.id }}"
                            name="{{ field.name }}"
                            {% if field.required %} required {% endif %}
                    />
                {% elif field.field_type.Select is defined %}
                    <div class="is-flex" >

                        {% if field.field_type.Select.debug %}
                            {{ debug::modal(id_element=field.id, modal_title="Debug", modal_content=field.field_type.Select.options) }}
                        {% endif %}

                        <div class="select is-fullwidth {% if field.field_type.Select.multiple %} is-multiple {% endif %}">
                            <select
                                    id="{{ field.id }}"
                                    name="{{ field.name }}"
                                    {% if field.field_type.Select.multiple %} multiple {% endif %}
                                    {% if field.required %} required {% endif %}
                            >
                                {% for option in field.field_type.Select.options %}
                                <option value="{{ option.name }}">{{ option.value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                {% elif field.field_type.TextArea is defined %}
                    <textarea
                            class="textarea is-fullwidth"
                            id="{{ field.id }}"
                            name="{{ field.name }}"
                            placeholder="{{ field.placeholder | default(value='') }}"
                            {% if field.required %} required {% endif %}
                    ></textarea>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-link">Submit</button>
            </div>
        </div>
    </form>
</div>
