<div class="box" id="{{ content.Form.id }}">
    <form action="{{ content.Form.action }}" method="{{ content.Form.method }}">

        {% for field in content.Form.fields %}
            <div class="field">
                <label class="label" for="{{ field.id }}">{{ field.label }}</label>

                <div class="control">
                   <!-- INPUT TEXT                    -->
                    {% if field.field_type.Text is defined %}
                        <input
                                class="input"
                                type="text"
                                id="{{ field.id }}"
                                name="{{ field.name }}"
                                placeholder="{{ field.placeholder | default(value='') }}"
                                {% if field.required %} required {% endif %}
                        />

                    <!-- INPUT NUMBER                    -->
                    {% elif field.field_type.Number is defined %}
                        <input
                                class="input"
                                type="number"
                                id="{{ field.id }}"
                                name="{{ field.name }}"
                                placeholder="{{ field.placeholder | default(value='') }}"
                                {% if field.required %} required {% endif %}
                        />

                    <!-- INPUT DATE                    -->
                    {% elif field.field_type.Date is defined %}
                        <input
                                class="input"
                                type="date"
                                id="{{ field.id }}"
                                name="{{ field.name }}"
                                {% if field.required %} required {% endif %}
                        />

                    <!-- SELECT                    -->
                    {% elif field.field_type.Select is defined %}
                        <div class="select {% if field.field_type.Select.multiple %} is-multiple {% endif %} ">
                            <select
                                    id="{{ field.id }}"
                                    name="{{ field.name }}"
                                    {% if field.field_type.Select.multiple %} multiple {% endif %}
                                    {% if field.required %} required {% endif %}
                            >
                                {% for option in field.field_type.Select.options %}
                                    <option value="{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    <!-- TEXTAREA                    -->
                    {% elif field.field_type.Textarea is defined %}
                        <textarea
                                class="textarea"
                                id="{{ field.id }}"
                                name="{{ field.name }}"
                                placeholder="{{ field.placeholder | default(value='') }}"
                                {% if field.required %} required {% endif %}
                        ></textarea>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-link">Submit</button>
            </div>
        </div>
    </form>
</div>
