{% set flex_basis = flex::calculate_flex_basis(content_count=content_count, loop_index=loop.index, max_horizontal=3) %}

<div class="box app_shadow_2 {{flex_basis}}" style="flex-basis: {{ flex_basis }}%;" id="{{ content.Form.id }}">
    {% if content.Form.debug is defined %}
        {{ debug::modal(id_element="formDebug", modal_title="Debug Form", modal_content=content.Form.fields) }}
    {% endif %}
    <form action="{{ content.Form.action }}" method="{{ content.Form.method }}" >
        {% for field in content.Form.fields %}
            <div class="field mb-5">
                <div class="columns is-align-items-center">
                    <!-- Label -->
                    <div class="column is-1 has-background-light has-text-dark has-text-centered p-2">
                        <label class="label mb-0" for="{{ field.id }}">
                            {{ field.label }}
                            {% if field.label_long is defined and field.label_long != '' %}
                                {{ tooltip::simple(content=field.label_long) }}
                            {% endif %}
                        </label>

                    </div>

                    <!-- Input / select / textarea -->
                    <div class="column is-11">
                            <!-- INPUT TEXT                -->
                            {% if field.field_type.Text is defined %}
                                <input
                                        class="input is-fullwidth"
                                        type="text"
                                        id="{{ field.id }}"
                                        name="{{ field.name }}"
                                        placeholder="{{ field.placeholder | default(value='') }}"
                                        {% if field.required %} required {% endif %}
                                />

                            <!-- INPUT NUMBER                -->
                            {% elif field.field_type.Number is defined %}
                                <input
                                        class="input is-fullwidth"
                                        type="number"
                                        id="{{ field.id }}"
                                        name="{{ field.name }}"
                                        placeholder="{{ field.placeholder | default(value='') }}"
                                        {% if field.required %} required {% endif %}
                                />

                            <!-- INPUT DATE                -->
                            {% elif field.field_type.Date is defined %}
                                <!-- DEBUG                    -->
                                {% if field.field_type.Date.debug %}
                                    {{ debug::modal(id_element="dateDebug", modal_title="Debug Date", modal_content=field.field_type.Date) }}
                                {% endif %}
                                <!-- END DEBUG                    -->

                                <input
                                        class="input is-fullwidth"
                                        type="date"
                                        id="{{ field.id }}"
                                        name="{{ field.name }}"
                                        {% if field.required %} required {% endif %}
                                />

                            <!-- SELECT                -->
                            {% elif field.field_type.Select is defined %}
                                    <!-- DEBUG                -->
                                    {% if field.field_type.Select.debug %}
                                        {{ debug::modal(id_element=field.id, modal_title="Debug", modal_content=field.field_type.Select.options) }}
                                    {% endif %}
                                    <!-- END DEBUG                -->

                                    <div class="select is-fullwidth {% if field.field_type.Select.multiple %} is-multiple {% endif %}">
                                        <select
                                                id="{{ field.id }}"
                                                name="{{ field.name }}"
                                                {% if field.field_type.Select.multiple %} multiple {% endif %}
                                                {% if field.required %}                   required {% endif %}
                                        >
                                            {% for option in field.field_type.Select.options %}
                                                <option value="{{ option.name }}">{{ option.value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                            <!-- TEXTAREA                -->
                            {% elif field.field_type.TextArea is defined %}
                                <textarea
                                        class="textarea is-fullwidth"
                                        id="{{ field.id }}"
                                        name="{{ field.name }}"
                                        placeholder="{{ field.placeholder | default(value='') }}"
                                        {% if field.required %} required {% endif %}
                                ></textarea>
                            {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-link">{{ content.Form.submit_label }}</button>
                <button type="reset" class="button is-warning">reset</button>
            </div>
        </div>
    </form>
</div>
