<!-- Modale -->
<div class="modal" id="addEventModal" style="z-index: 1050;">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Ajouter un nouvel utilisateur</p>
            <button class="delete" aria-label="close" id="closeModal"></button>
        </header>
        <section class="modal-card-body">
            <form action="/add_user" method="post" data-json='{"id_data_add": "user_list"}'>
                <div class="field">
                    <label class="label" for="username">Nom de l'utilisateur</label>
                    <div class="control">
                        <input class="input" type="text" id="username" name="username" placeholder="Nom de l'utilisateur" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="email">Email</label>
                    <div class="control">
                        <input class="input" type="text" id="email" name="email" placeholder="Description de l'événement">
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="password">Mot de passe</label>
                    <div class="control">
                        <input class="input" type="password" id="password" name="password" placeholder="Mot de passe" required>
                    </div>
                </div>

                <div class="control">
                    <button class="button is-link" type="submit">Ajouter</button>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button class="button" id="closeModalFooter">Annuler</button>
        </footer>
    </div>
</div>


{% block script %}
    <script>
        // Initialiser la modale avec les IDs des éléments
        document.addEventListener('DOMContentLoaded', () => {
            const modal = new window.Modal(
                'openModal',           // ID du bouton pour ouvrir la modale
                'addEventModal',       // ID de la modale
                'closeModal',          // ID du bouton de fermeture dans l'en-tête de la modale
                'closeModalFooter',    // ID du bouton de fermeture dans le pied de la modale
                '.modal-background'    // Sélecteur de la classe pour le fond de la modale
            );
        });
    </script>
{% endblock %}
