{% macro get(type="file_type") %}

    {% if type == "file" %}
        <img src="/images/icons/file_icon.png" alt="file icon" onerror="this.onerror=null; this.src='/images/icons/default_icon.png';">

    {% elif type == "folder" %}
        <img src="/images/icons/folder_icon.png" alt="folder icon" onerror="this.onerror=null; this.src='/images/icons/default_icon.png';">

    {% elif type == "shortcut_menu" %}
        <img src="/images/icons/shortcut_menu_icon.png" alt="shortcut menu icon" onerror="this.onerror=null; this.src='/images/icons/default_icon.png';">

    {% else %}
        <img src="/images/icons/default_icon.png" alt="default icon" >
    {% endif %}

{% endmacro get %}
