{% import "event/event_item_module.html" as event_item %}

{% extends "base.html" %}

{% block title %}Liste des événements et ajout d'un événement MANAGER{% endblock %}

{% block title_section %}
<h2 class="subtitle has-text-white">Liste des événements</h2>
{% endblock %}


{% block content %}
    EVENT MANAGER TEST
    <ul id="event_list">
        {% if events|length > 0 %}
            {% for event in events %}
                {{ event_item::event_item(title=event.title, date=event.date, description=event.description) }}
            {% endfor %}
        {% else %}
            <li class="notification is-warning">Aucun événement trouvé</li>
        {% endif %}
    </ul>

    <!-- MODAL ADD EVENT-->
    {% include "event/modal_add_event.html" %}
    <div class="add-event-button" style="position: fixed; bottom: 20px; right: 20px;">
        <button class="button is-primary" id="openModal">Ajouter un nouvel événement</button>
    </div>
{% endblock %}

{% block nav_left %}
{% endblock %}
