
<div class="box app_shadow_2 table-container"  style="flex-basis: {{ flex_basis }}%;" id="{{ content.Table.id }}" >
    <label class="label has-text-left has-background-primary-dark has-text-white p-2 mb-5" for="{{ content.Table.id }}_table">{{ content.Table.title }}</label>

    <table class="table is-fullwidth is-hoverable is-striped is-bordered" id="{{ content.Table.id }}_table">
        <thead class="is-success">
            <tr class="is-success">
                {% for header in content.Table.headers %}
                    <th class="has-text-centered">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in content.Table.rows %}
            <tr>
                {% for cell in row %}
                    <td class="has-text-left">
                        {{ cell }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# {{ modal::add(id_element=content.Table.id, modal_title="Ajouter un événement", form_action="/ajouter_evenement") }} #}
</div>

